@import "variables";

// Bootstrap styles
@import "~bootstrap/scss/bootstrap";

// Import Fonts
@import "fonts";

// Components
@import "components/navbar";
@import "components/intro-section";
@import "components/about-section";

// === Global styles === //

.row {
  margin-bottom: 300px;
}

// Primary Font
* {
  font-family: Roboto, sans-serif;
}

// Remove horizontal scrollbar
body, html {
  overflow-x: hidden;
}

// Define selection
@mixin selection {
  ::-moz-selection { @content; }
  ::selection { @content; }
}

// Selection rules
@include selection {
  color: white;
  background: $primary-color;
}

// Media queries for SM screens
@include media-breakpoint-down(sm) {
  html {
    font-size: 10px;
  }

  .c-text-center {
    text-align: center;
  }
}

