.about-row {
    margin-bottom: 200px;
}

.about-title {
  font-weight: bold;
  color: $secondary-color;
  width: 50%;
}

.about-p {
  font-size: 1.2rem;
  width: 50%;
}

.about-text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.about-section {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
}

.about-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}


@media screen and (max-width: 767px) {
  .about-section {
    img {
      width: 50%;
      margin-top: 20px;
    }
  }
}


