.intro-section {
  padding: 0 3rem;
}

.intro-title {
  font-size: 9rem;
  font-weight: bold;

  &.secondary-color {
    color: $secondary-color;
  }
}

body {
  overflow-x: hidden;
}

.intro-span {
  display: inline-block;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 90%;
    height: 50%;
    top: 79px;
    left: 35px;
    background: $primary-color;
    z-index: -1;

  }
}

.intro-subtitle {
  font-size: 1.5rem;
  margin: 20px 0 20px 0;
}

.learn-more-btn {
  background-color: yellow;
  font-weight: bold;
}

// Sizing on smaller screen
@media screen and (max-width: 767px) {
  .intro-svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

  body {
    background-color: red;
  }

  .intro-span {
    &:before {

      top: 55px;
      left: 20px;
    }

  }
}


