.intro-section {
  padding: 0 3rem;
}

.intro-title {
  font-size: 11vw;
  font-weight: bold;

  &.secondary-color {
    color: $secondary-color;
  }
}

body {
  overflow-x: hidden;
}

.intro-span {
  display: inline-block;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 90%;
    height: 50%;
    top: 6.5vw;
    left: 2.5vw;
    background: $primary-color;
    z-index: -1;

  }
}

.intro-subtitle {
  font-size: 1.5rem;
  margin: 20px 0 20px 0;
}

.learn-more-btn {
  background-color: yellow;
  font-weight: bold;
  padding: 1vw 2vw 1vw 2vw;
}

// Sizing on smaller screen
@media screen and (max-width: 767px) {
  .intro-svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

  .intro-title {
    font-size: 7vw;
  }

  .intro-span {
    &:before {

      top: 4.2vw;
      left: 1.9vw;
    }

  }
}


